.body {
    background:rgb(212, 211, 211)
}

.grid {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(132, 0, 255);
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 10px;
    height: 10px;
    /* border: 1px black solid;
    box-sixing: border-box; */
}

.title {
    text-align: center;
}

.snake {
    background: rgb(10, 24, 186);
}

.apple {
    background: red;
    border-radius: 10px;
}

.popup {
    background: rgb(32, 31, 31);
    width: 75px;
    height: 50px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
